@import "mixin.scss";
@import "variables.scss";
body{
	color: $primary;
	// font-family: "Poppins",sans-serif;
	font-family: 'Montserrat', sans-serif;
}
/*=============================================
=            common css            =
=============================================*/
.mwb-wrapper {
	padding: 60px 0;
	&.mwb-bg-color{
		background-color: #ececec;
	}
}
.mwb-text-wrap {
	color: #ffffff;
	text-transform: capitalize;
}
.mwb-heading {
	margin-bottom: 30px;
	position: relative;
	padding-bottom: 20px;
	&:after{
		border-bottom: 2px solid $primary;
		bottom: 0;
		content: "";
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		width: 140px;
	}
	&:before{
		background-color:$primary;
		bottom: -2px;
		content: "";
		height: 8px;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		width: 30px;
		z-index: 1;
	}
}
img{
	margin: 0 auto;
}
a{
	color: $primary;
	text-decoration: none;
	&:focus,&:hover{
		outline: none;
		color:  $secondary;
		text-decoration: none;
	}
}
h1,h2,h3,h4,h5{
	color: $primary;
}
.mwb-product-list-wrap {
	border: 1px solid #dddddd;
	padding: 10px;;
	background-color: $white;
	margin: 20px 0;
	.mwb-badge {
		background-color:$secondary;
		border-radius: 4px;
		color: $white;
		font-size: 13px;
		font-weight: bold;
		padding: 2px 8px;
		position: absolute;
		right: 7px;
		top: 5px;
		z-index: 99;
	}
	.mwb-product-list-content{
		padding-top: 10px;
		position: relative;
		h4{
			font-weight: bold;
		}
	}
	.mwb-image {
		position: relative;
		overflow: hidden;
	}
	.mwb-user-action {
		background-color:$secondary;
		left: -60px;
		position: absolute;
		top: 0;
		@include transition( all 0.3s linear 0s);
		visibility: hidden;
		margin: 0;
		z-index: 9;
		opacity:0;
		li {
			font-size: 20px;
			padding: 3px 8px;
			position: relative;
			a{
				color: $white;
			}
		}
	}
	&:hover{
		.mwb-user-action {
			left: 0;
			right: auto;
			@include transition( all 0.3s linear 0s);
			visibility: visible;
			opacity: 1;
		}
	}
}
.mwb-scroll-top {
	background-color: $secondary;
	border-radius: 4px;
	bottom: 20px;
	color: #ffffff;
	display: inline-block;
	font-size: 26px;
	height: 40px;
	line-height: 40px;
	position: fixed;
	right: 30px;
	text-align: center;
	width: 40px;
	visibility: hidden;
	&.mwb-scroll-top-visible{
		visibility: visible;
		&:hover,&:focus{
			color: #ffffff;
		}
	}
	&:hover,&:focus{
		color: #ffffff;
	}
}
/*=====  End of common css  ======*/
/*==============================
=            Header            =
==============================*/
header {
	background-color:$secondary;
	color: $white;
	padding:15px 0;
	.top-header-text{
		color: $white;
		font-size: 26px;
		margin: 10px 0 0;
	}
	.new-png {
		width: 60px;
		float: left;
	}
	.mwb-select-style-menu-wrap{
		float: left;
		width: calc(100% - 80px);
		margin-left: 20px;
		margin-top: 11px;
		#mwb-temp-menu{
			display: block;
		}
		.mwb-temp-icon {
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 20px;
		}
		.mwb-select-style-menu {
			border: 1px solid $white;
			font-weight: bold;
			padding: 10px;
			position: relative;
			z-index: 999;
			cursor: pointer;
			border-radius: 4px;
			.mwb-select-style-sub-menu{
				position: absolute;
				height: 250px;
				overflow: auto;
				width: 100%;
				background-color: $white;
				left: 0;
				right: 0;
				top: 100%;
				display: none;
				cursor: auto;
				li{
					padding: 10px;
				}
			}
		}
	}
}
.mwb-text-style-1 {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	color: #ffffff;
	display: flex;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	margin: 0;
	text-transform: capitalize;
}
/*=====  End of Header  ======*/